<a href="https://colab.research.google.com/github/Aswinramesh04/100-DaysOfCode-DataScience/blob/main/Day10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                             **Data Cleaning**             -- Loga Aswin

**Data Cleaning**

In [3]:
import pandas as pd

data = {'A': [10, 20, None, 30, 40],
        'B': [None, 'chennai', 'coimbatore', 'london', 'america']}

df = pd.DataFrame(data)

In [4]:
print(df)

      A           B
0  10.0        None
1  20.0     chennai
2   NaN  coimbatore
3  30.0      london
4  40.0     america

**1. Handling Missing Values:**

Dropping rows or columns with missing values:

In [6]:
clean_df = df.dropna()
print(clean_df)

      A        B
1  20.0  chennai
3  30.0   london
4  40.0  america

In [7]:
clean_df = df.dropna(axis=1)
print(clean_df)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [8]:
# filling missing value of A with the mean of the columns
 df['A'].fillna(df['A'].mean(), inplace=True)
print(df)

      A           B
0  10.0        None
1  20.0     chennai
2  25.0  coimbatore
3  30.0      london
4  40.0     america

**2. Removing Duplicates:**

Removing duplicate rows:

In [11]:
x1 = df.drop_duplicates()
print(x1)

      A           B
0  10.0        None
1  20.0     chennai
2  25.0  coimbatore
3  30.0      london
4  40.0     america

In [13]:
# Sample data
data = {'A' : [10,20,30,40,50]}
df = pd.DataFrame(data)

print(df)

    A
0  10
1  20
2  30
3  40
4  50

**3. Data Type Conversion:**

Converting data types:

In [18]:
df['A'] = df['A'].astype(int)
print(df)

    A
0  10
1  20
2  30
3  40
4  50

**4.String Cleaning:**

In [20]:
data = {'A': [1, 2, 3, 4, 5],
        'B': [' apple ', 'banana', 'cherry ', 'date', ' elderberry ']}
df = pd.DataFrame(data)

df['B'] = df['B'].str.strip()
print(df)

   A           B
0  1       apple
1  2      banana
2  3      cherry
3  4        date
4  5  elderberry

In [22]:
# # Convert 'B' column to lowercase
df['B'] = df['B'].str.lower()
print(df)

   A           B
0  1       apple
1  2      banana
2  3      cherry
3  4        date
4  5  elderberry

**6. Removing Irrelevant Columns:**

In [23]:
# Sample
data = {'A': [1, 2, 3, 4, 5],
        'B': ['apple', 'banana', 'cherry', 'date', 'chocolate'],
        'C': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Remove the 'C' column
df.drop('C', axis=1, inplace=True)
print(df)

   A          B
0  1      apple
1  2     banana
2  3     cherry
3  4       date
4  5  chocolate

In [24]:
# Replace the element
df['B'] = df['B'].replace('cherry', 'orange')
print(df)

   A          B
0  1      apple
1  2     banana
2  3     orange
3  4       date
4  5  chocolate

 **Data transformation**

In [27]:
#apply()
data = {'A': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

def double_value(x):
    return x * 2

df['A_doubled'] = df['A'].apply(double_value)
print(df)

    A  A_doubled
0  10         20
1  20         40
2  30         60
3  40         80
4  50        100

In [28]:
# map()
data = {'Category': ['A', 'B', 'A', 'C', 'B']}
df = pd.DataFrame(data)

category_mapping = {'A': 1, 'B': 2, 'C': 3}

df['Category_Num'] = df['Category'].map(category_mapping)
print(df)

  Category  Category_Num
0        A             1
1        B             2
2        A             1
3        C             3
4        B             2

In [31]:
# applymap()
data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)

def square(x):
    return x ** 2

df_squared = df.applymap(square)
print(df_squared)

   A   B
0  1  16
1  4  25
2  9  36