<a href="https://colab.research.google.com/github/Aswinramesh04/100-DaysOfCode-DataScience/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment Topic:**

Guidelines for the submission:

There are a total of 25 points possible for this final project.
I hope I will succeed, based on the following Exercises:
Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
Exercise 3 - Create a markdown cell for an introduction. (1 pt)
Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)
Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)
Exercise 12 - Share your notebook through GitHub (3 pts)
Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

Exercise 1: Create a Jupyter Notebook

Create a new Jupyter notebook called DataScienceEcosystem.ipynb

Exercise 2: Create markdown cell with title of the notebook

Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.
Take a screenshot of the markdown cell and name it as 2-title.png (Images can be saved with either the .jpg or .png extension.)

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

List popular languages that Data Scientists use.
List commonly used libraries used by Data Scientists.
Comment on Data Science tools.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

Python.
R.
SQL.
Java.
Julia.
Scala.
C/C++.
JavaScript.

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the commonly used libraries used by Data Scientists include:

TensorFlow.
NumPy.
SciPy.
Pandas.
Matplotlib.
Keras.
SciKit-Learn.
PyTorch.
Scrapy.
BeautifulSoup.
LightGBM.
ELI5.
Theano.
NuPIC.
Ramp.
Pipenv.
Bob.
PyBrain.
Caffe2.
Chainer.

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

Data Science Tools:

Data Science Tools
SAS. It is one of those data science tools which are specifically designed for statistical operation
Apache Spark
BigML

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
code = compile("50 + 40", "<string>", "eval")
eval(code)

90

In [5]:
code1 = compile("(50 + 70) * 2", "<string>", "eval")
eval(code1)

240

In [4]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)

65449.84694978735

Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

This a simple arithmetic expression to mutiply then add integers

In [6]:
(30*40)+5

1205

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

This will convert 200 minutes to hours by diving by 60

In [ ]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

Exercise 10 -Insert a markdown cell to list Objectives.

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

Exercise 11 - Create a markdown cell to indicate the Author’s name.

Author:
Germano Costa