<a href="https://colab.research.google.com/github/Aswinramesh04/100-Days-of-DataScience/blob/main/Day10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
map(), filter(), reduce() - built-in function

In [ ]:
my_num = [1,2,3,4,5]

def double(num):
  for i in num:
    print(i*i)

result = double(my_num)
#using loop

1
4
9
16
25

In [ ]:
my_num = [1,2,3,4,5]

def double(num):
  return num + num
result = list(map(double, my_num)) #my_num - iterative
print(result)
#provides new collections,
#does not modify
# this function works for each element.
#direct built-in function.

[2, 4, 6, 8, 10]

In [ ]:
lambda(a function easy to write) - Name different but easy concept only

In [ ]:
Not compulsory to learn but just know it
they might ask in interview
so that company knows that , he knows some shortcutkeys
so he can develop program, easily

In [ ]:
def add(x,y):
  return x+y
print(add(1,3))

4

In [ ]:
a = lambda x,y: x+y
print(a(1,3))

4

In [ ]:
lambda techniques- AWS lambda product - serverless code

In [ ]:
my_num = [1, 2, 3, 4, 5]
even_numbers = []

for i in my_num:
  if i % 2 == 0:
    even_numbers.append(i)

print(even_numbers)

[2, 4]

In [ ]:
def find_even_numbers(num_list):

  even_numbers = []
  for num in num_list:
    if num % 2 == 0:
      even_numbers.append(num)
  return even_numbers

my_num = [1, 2, 3, 4, 5]
even_result = find_even_numbers(my_num)
print(even_result)

In [ ]:
#just it particularly selects, it filters
my_num = [1,2,3,4,5]
filter_result = list(filter(lambda x : x%2==0, my_num))
print(filter_result)

[2, 4]

In [ ]:
my_num = [1, 2, 3, 4, 5]
result = 0

for i in my_num:
  result += i

print(result)

15

In [ ]:
#reducing works only it does
from functools import reduce
my_num = [1,2,3,4,5]
reduce_result = reduce(lambda x, y: x+y, my_num)
print(reduce_result)

15

In [ ]:
my_num = [1,2,3,4,5]

# def double(num):
#   return num + num
result = list(map(lambda x: x*x, my_num)) #my_num - iterative
print(result)

[1, 4, 9, 16, 25]

In [ ]:
# Python Json
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])
#you can access the key value pair & full data also

#loads- from json formatted string to data types like dictionary & access it

30

In [ ]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)
#only you can acces the full data
#conversion - like from list
# dumps from python objects like list / dict to json formatted strings

{"name": "John", "age": 30, "city": "New York"}

In [ ]:
import json

# Python list
python_list = [1, 2, 3, 4, 5]

# Convert the Python list into a JSON-formatted string
json_list_string = json.dumps(python_list)

print(json_list_string)  # Output: '[1, 2, 3, 4, 5]'
print(type(json_list_string))  # Output: <class 'str'>

[1, 2, 3, 4, 5]
<class 'str'>

In [ ]:
import json

# JSON string representing a list
json_list_string = '[1, 2, 3, 4, 5]'

# Parse the JSON string into a Python list
python_list = json.loads(json_list_string)

print(python_list)  # Output: [1, 2, 3, 4, 5]
print(type(python_list))  # Output: <class 'list'>

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
def fun(a,b):
  c = a+b
  print(c)

fun(10,20)

30

In [ ]:
def func(*args):
  sum = 0
  for i in args:
    sum+=i
  print(sum)

func(100,200,300)

600

In [ ]:
def print_values(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

# Using the function with keyword arguments
print_values(name="John", age=30, city="New York")
print_values(name="John", age=35, city="New York", salary = 10)

name: John
age: 30
city: New York
name: John
age: 35
city: New York
salary: 10

In [ ]:
def print_person_info(name, age, city):
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"City: {city}")

# Using the function with positional arguments
print_person_info("John", 30, "New York")

Name: John
Age: 30
City: New York