<a href="https://colab.research.google.com/github/Aswinramesh04/100-DaysOfCode-DataScience/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                                **Functions**   By: Loga Aswin
 * A function is a block of code that performs a specific task.

In [3]:
# user-defined function
def hello():
    print('Hi World')
hello()    #function calling

Hi World

In [4]:
# Function along parameter
def addition(n1,n2):
    print(n1+n2)
addition(50,50)

100

**Function return type**

In [21]:
# function
def find_square(num):
    result = num * num
    return result
#calling function
square = find_square(10)

print('Square:',square)

square: 100

**Types of Function Arguments:**


1.   Default Arguments:

In [22]:
def add_numbers( a = 70,  b = 80):
    sum = a + b
    print('Sum:', sum)

# two arguments
add_numbers(2, 3)

#No arguments
add_numbers()

Sum: 5
Sum: 150

2.   Keyword Arguments

In [23]:
def show(first_name, last_name):
    print('First Name:', first_name)
    print('Last Name:', last_name)

show(last_name = 'Aswin', first_name = 'Loga')

First Name: Loga
Last Name: Aswin

3. Positional Arguments

In [25]:
def prints(age,name):
    print(age,name)

prints('Aswin',20)
prints(20,'Aswin')

Aswin 20
20 Aswin

4. Arbitrary Arguments

In [26]:
#find sum of multiple numbers
def find_sum(*numbers):
    result = 0
    for num in numbers:
        result = result + num
    print("Sum = ", result)

find_sum(1, 2, 3)

Sum =  6

**Python Recursion** :
Recursion is the process of defining something in terms of itself.

In [27]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

x = int(input("Enter the number:"))
print("The factorial is", factorial(x))

Enter the number:5
The factorial is 120

In [28]:
#python recursive pattern
def row(n):
    if n < 1:
        return
    print("*", end=" ")
    row(n - 1)

def pattern(n):
    if n < 1:
        return
    row(n)
    print("")
    pattern(n - 1)

n = 5
pattern(n)

* * * * *
* * * *
* * *
* *
*