<a href="https://colab.research.google.com/github/Aswinramesh04/100-DaysOfCode-DataScience/blob/main/Day8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                              Pandas Tutorial     -- Loga Aswin



*   Pandas is an open-source data manipulation and analysis library for Python.
*   It provides data structures and functions for working with structured data, such as spreadsheets or SQL tables.
*   Pandas offers two primary data structures: Series and DataFrame.


*   Series is a one-dimensional array-like object with labels (an index).
*   DataFrame is a two-dimensional table with rows and columns.

In [2]:
#Pandas Series
import pandas as pd
import numpy as np

arr = np.array([2,3,4,5,6,7,8])
s1 = pd.Series(arr)
print(s1)

0    2
1    3
2    4
3    5
4    6
5    7
6    8
dtype: int64

In [4]:
#Creating labels
import pandas as pd
a = [10, 20, 30]
s1 = pd.Series(a, index = ["a", "b", "c"])
print(s1)

a    10
b    20
c    30
dtype: int64

In [5]:
# Creating dataframe:
import pandas as pd
sample = {
    "protein": [40, 80, 120],
    "fats": [4, 8, 12]
}
df = pd.DataFrame(sample)
print(df)

   protein  fats
0       40     4
1       80     8
2      120    12

In [7]:
# Using dictionary as in the list
data = {'a':[1,2,3], 'b':[11,12,13], 'c':[21,22,23]}

df = pd.DataFrame(data)
print(df)

   a   b   c
0  1  11  21
1  2  12  22
2  3  13  23

In [6]:
#Creating DataFrame from a Dictionary:
import pandas as pd

# Dictionary with mixed data types
data = {'name': 'Aswin', 'city': ['Coimbatore', 'Chennai', 'Hyderabad', 'Jammu', 'Punjab']}

df = pd.DataFrame(data)
print(df)


print("------***************---------")
import numpy as np

a = np.array([1, 2, 3, 4])
b = np.array(['A', 'B', 'C', 'D'])
c = np.array(['Kop', 'San', 'Sat', 'Pune'])

# Dictionary of NumPy arrays
data = {'id': a, 'name': b, 'address': c}

# Creating a DataFrame
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

print("------***************---------")

#Creating DataFrame from a List of Lists:
import pandas as pd

# List of lists
lst = [['id', 'name', 'address'], [1, 2, 3, 4], ['A', 'B', 'C', 'D'], ['Aswin', 'Anil', 'Akil', 'Aman']]

# Creating a DataFrame
df = pd.DataFrame(dict(zip(lst[0], lst[1:])))

# Displaying the DataFrame
print(df)

    name        city
0  Aswin  Coimbatore
1  Aswin     Chennai
2  Aswin   Hyderabad
3  Aswin       Jammu
4  Aswin      Punjab
------***************---------
   id name address
0   1    A     Kop
1   2    B     San
2   3    C     Sat
3   4    D    Pune
------***************---------
   id name address
0   1    A   Aswin
1   2    B    Anil
2   3    C    Akil
3   4    D    Aman

**Importing and Exporting CSV Files:**

In [ ]:
#import csv

import pandas as pd
df = pd.read_csv('sample.csv')
print(df)

#export csv

df.to_csv('exported_data.csv', index=False)

In [ ]:
#import excel
df = pd.read_excel('sample.xlsx', sheet_name='Sheet1')
print(df)

#export excel
df.to_excel('exported_data.xlsx', sheet_name='Sheet1', index=False)

**Dataframe Functions:**

In [10]:
# info() - Provides a concise summary of the DataFrame's structure.
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Aswin', 'Abdullah', 'Ankush'],
        'Age': [20, 30, 35],
        'City': ['Chennai', 'Kerala', 'London']}
df = pd.DataFrame(data)

# Display DataFrame information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [11]:
# describe() - Generates summary statistics for numerical columns.
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Aswin', 'Abdullah', 'Ankush'],
        'Age': [20, 30, 35],
        'City': ['Chennai', 'Kerala', 'London']}
df = pd.DataFrame(data)

# Generate summary statistics
summary = df.describe()

# Display the summary statistics
print(summary)

             Age
count   3.000000
mean   28.333333
std     7.637626
min    20.000000
25%    25.000000
50%    30.000000
75%    32.500000
max    35.000000

In [12]:
# head() - Displays the first few rows of the DataFrame (default is 5 rows).

# Display the first 3 rows
print(df.head(3))

       Name  Age     City
0     Aswin   20  Chennai
1  Abdullah   30   Kerala
2    Ankush   35   London

In [13]:
# tail() - Displays the last few rows of the DataFrame (default is 5 rows).

# Display the last 2 rows
print(df.tail(2))

       Name  Age    City
1  Abdullah   30  Kerala
2    Ankush   35  London

In [14]:
# shape - Returns a tuple representing the dimensions of the DataFrame (rows, columns).

# Get the shape of the DataFrame
shape = df.shape

# Display the shape
print(f"Number of rows: {shape[0]}, Number of columns: {shape[1]}")

Number of rows: 3, Number of columns: 3

In [16]:
# Check size of data frame

# rows * cols
print(df.size)

# Range of index from Start to End
print(df.index)

9
RangeIndex(start=0, stop=3, step=1)

In [17]:
# Get Names of the Columns.

# column name
print(df.columns)

 #Range and Names of the columns
print(df.axes)

Index(['Name', 'Age', 'City'], dtype='object')
[RangeIndex(start=0, stop=3, step=1), Index(['Name', 'Age', 'City'], dtype='object')]

In [19]:
# isna(): Show null values.

df.isna()

    Name    Age   City
0  False  False  False
1  False  False  False
2  False  False  False

In [20]:
# Transpose of the DataFrame: Convert the row indices to column names and vice versa.

df.iloc[1:5,:5].transpose()

             1       2
Name  Abdullah  Ankush
Age         30      35
City    Kerala  London

**Accessing Columns:**

In [21]:
# Access the first row by index
first_row = df.loc[0]
print(first_row)

Name      Aswin
Age          20
City    Chennai
Name: 0, dtype: object

In [22]:
# Access the 'Name' column
names = df['Name']
print(names)

0       Aswin
1    Abdullah
2      Ankush
Name: Name, dtype: object

In [23]:
# Access rows 1 to 2
rows_1_to_2 = df.loc[1:2]
print(rows_1_to_2)

       Name  Age    City
1  Abdullah   30  Kerala
2    Ankush   35  London

**Filtering Data:**

In [24]:
# Filter rows where Age is greater than 30
filtered_df = df[df['Age'] >= 35]
print(filtered_df)

     Name  Age    City
2  Ankush   35  London

**Adding and Modifying Data:**

In [27]:
# Add a 'City' column
df['Grade'] = ['A', 'B', 'C']
print(df)

       Name  Age           City Grade
0     Aswin   26       New York     A
1  Abdullah   30  San Francisco     B
2    Ankush   35    Los Angeles     C

In [25]:
# Update the 'Age' of the first row
df.at[0, 'Age'] = 26
print(df)

       Name  Age     City
0     Aswin   26  Chennai
1  Abdullah   30   Kerala
2    Ankush   35   London

**Dropping Data:**

In [28]:
# Drop the 'City' column
df = df.drop('City', axis=1)
print(df)

       Name  Age Grade
0     Aswin   26     A
1  Abdullah   30     B
2    Ankush   35     C

In [29]:
# Drop the first row
df = df.drop(0)
print(df)

       Name  Age Grade
1  Abdullah   30     B
2    Ankush   35     C