<a href="https://colab.research.google.com/github/Aswinramesh04/100-DaysOfCode-DataScience/blob/main/Day9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                 **Pandas Data Manipulation**  -- Loga Aswin

In [1]:
import pandas as pd

In [3]:
# Sample data
data = {'A': [1, 2, 3, 4, 5],
        'B': ['chennai', 'chandigarh', 'delhi', 'coimbatore', 'kanpur']}
df = pd.DataFrame(data)

**1. Filtering Data:**

Filtering rows based on a condition.

In [5]:
filtered_df = df[df['A']>3]
print(filtered_df)

   A           B
3  4  coimbatore
4  5      kanpur

**2. Selecting Columns:**

Selecting specific columns from a DataFrame.

In [6]:
selected_columns = df[['A','B']]
print(selected_columns)

   A           B
0  1     chennai
1  2  chandigarh
2  3       delhi
3  4  coimbatore
4  5      kanpur

**3.Sorting Data:**

Sorting DataFrame by one or more columns.

In [7]:
sorted_df = df.sort_values(by='A')
print(sorted_df)

   A           B
0  1     chennai
1  2  chandigarh
2  3       delhi
3  4  coimbatore
4  5      kanpur

In [12]:
#descing order
sorted_df_desc = df.sort_values(by='A', ascending=False)
print(sorted_df_desc)

   A           B
4  5      kanpur
3  4  coimbatore
2  3       delhi
1  2  chandigarh
0  1     chennai

**4. Aggregating Data:**

Calculating summary statistics like mean, sum, count, etc.

In [13]:
mean_A = df['A'].mean()
print(mean_A)

3.0

In [14]:
value_counts_A = df['A'].value_counts()
print(value_counts_A)

1    1
2    1
3    1
4    1
5    1
Name: A, dtype: int64

**5. Handling Missing Data:**

Dealing with missing values in your DataFrame.

In [17]:
# Sample data
data_with_missing = {'A': [1, 2, None, 4, 5],
        'B': ['chennai', 'chandigarh', None, 'coimbatore', 'kanpur']}
df_misisng = pd.DataFrame(data_with_missing )

df_no_missing = df_missing.dropna()
print(df_no_missing)

NameError: ignored