<a href="https://colab.research.google.com/github/Aswinramesh04/100-Days-of-DataScience/blob/main/Untitled61.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv("/content/honda_car_selling.csv")
df1.head()

,Year,kms Driven,Fuel Type,Suspension,Price,Car Model
0,2019,19006 kms,Petrol,Automatic,9.29 Lakh,Honda City V CVT
1,2021,11936 kms,Petrol,Automatic,13.95 Lakh,Honda City ZX CVT
2,2018,29635 kms,Petrol,Automatic,9.95 Lakh,Honda City i-VTEC CVT ZX
3,2020,16163 kms,Petrol,Automatic,13.26 Lakh,Honda City ZX CVT
4,2015,105114 kms,Petrol,Manual,5.68 Lakh,Honda City i VTEC V

In [3]:
backup = df1.copy()

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        999 non-null    int64
 1   kms Driven  999 non-null    object
 2   Fuel Type   999 non-null    object
 3   Suspension  999 non-null    object
 4   Price       999 non-null    object
 5   Car Model   999 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [5]:
df1.shape

(999, 6)

In [6]:
df1["Year"].unique()

array([2019, 2021, 2018, 2020, 2015, 2016, 2014, 2017, 2022, 2013, 2012,
       2010, 2011, 2008, 2009, 2023, 2007, 2005, 2004, 2003, 2006, 2000])

In [7]:
df1["kms Driven"] = df1["kms Driven"].str.strip()

In [8]:
df1["kms Driven"] = df1["kms Driven"].str.split().str.get(0)

In [9]:
df1["kms Driven"] = df1["kms Driven"].astype(int)

In [10]:
df1["Fuel Type"].unique()

array([' Petrol ', ' Diesel ', ' CNG '], dtype=object)

In [11]:
df1["Suspension"] = df1["Suspension"].str.strip()

In [12]:
df1["Price"] = df1["Price"].str.strip()

In [13]:
def price_cleaner(values):
    output = values.split()
    result = [eval(i) for i in output]
    return np.prod(result)

df1["Price"] = df1["Price"].str.strip()
df1["Price"] = df1["Price"].str.replace(',','')
df1["Price"] = df1["Price"].str.replace('Lakh','100000')
df1["Price"] = df1["Price"].map(price_cleaner)

In [14]:
df1["Price"] = df1["Price"].astype(int)