<a href="https://colab.research.google.com/github/Aswinramesh04/100-DaysOfCode-DataScience/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                    Python Data Types  By: Loga Aswin

**List**
It is an ordered collection of similar or different types of items separated by commas and enclosed within brackets[].

In [ ]:
car=["polo","Audi","Bmw"]
print(car[1])
print(type(car))

Audi
<class 'list'>

**Append:**
append() adds an element at the end of the list

In [ ]:
sample = [1, 2, 3, 4, 5, 6]
sample.append(5)
sample.append([7, 8, 9])
sample.extend([6, 7, 8])
print(sample)

[1, 2, 3, 4, 5, 6, 5, [7, 8, 9], 6, 7, 8]

**Slicing**

In [ ]:
list = [1, 2, 3, 4, 5, 6, 7]
print(list[0:4])
print(list[::])
print(list[::-1])
print(list[-1::])

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]
[7]

**Deleting elements in list**

In [3]:
list = [1, 2, 3, 4, 5, 6, 7]
print(list.pop(2))
print(list)
list.remove(4)
print(list)
list.clear()
print(list)

3
[1, 2, 4, 5, 6, 7]
[1, 2, 5, 6, 7]
[]

                            **Tuples**
A tuple is a collection of objects that are ordered and immutable.

In [4]:
# Different types of tuples

# Empty tuple
tuple = ()
print(tuple)

# integers
tuple = (10, 20, 30)
print(tuple)

# mixed datatypes
tuple = (1, "Hello", 3.4)
print(tuple)

# nested tuple
tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(tuple)

()
(10, 20, 30)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

**Slicing**

In [6]:
# accessing tuple
tuple = (1,2,3,4,5,6,7,8,9)

print(tuple[1:4])

print(tuple[:-7])

print(tuple[7:])

print(tuple[:])

(2, 3, 4)
(1, 2)
(8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [9]:
tuple = (1,2,3,4)  #iterating through tuple
for tuple in tuple:
  print("tuple")

tuple
tuple
tuple
tuple

                               **Sets**
Empty curly braces { } will make an empty dictionary in Python.

In [10]:
num = {2, 4, 6, 6, 2, 8}
print(num)

{8, 2, 4, 6}

In [11]:
num = {45, 39, 30, 75}

print('before:',num)
num.add(32)
print('after:', num)

before: {75, 45, 30, 39}
after: {32, 39, 75, 45, 30}

In [13]:
languages = {'React', 'Java', 'Python'}

print('before:',languages)
removedValue = languages.discard('Java')
print('after:', languages)

before: {'React', 'Python', 'Java'}
after: {'React', 'Python'}

In [14]:
num = {2, 4, 6, 6, 2, 8}
print(len(num))

4

**Set Intersection**

In [15]:
A = {1, 3, 5}
B = {1, 2, 3}
print('using &:', A & B)
print('using intersection():', A.intersection(B))

using &: {1, 3}
using intersection(): {1, 3}

In [17]:
print('using -:', A - B)
print('using intersection():', A.difference(B))

using -: {5}
using intersection(): {5}

**Dictionary**

In [18]:
dict = {1:'a', 2:'b', 5:'c', 4:'d'}
print(dict)
print(dict[5])

{1: 'a', 2: 'b', 5: 'c', 4: 'd'}
c

In [23]:
print(dict.items())
print(dict.keys())
print(dict.values())

dict_items([(1, 'a'), (2, 'b'), (5, 'c'), (4, 'd')])
dict_keys([1, 2, 5, 4])
dict_values(['a', 'b', 'c', 'd'])