<a href="https://colab.research.google.com/github/Aswinramesh04/100-DaysOfCode-DataScience/blob/main/Day9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                 **Pandas Data Manipulation**  -- Loga Aswin

In [1]:
import pandas as pd

In [3]:
# Sample data
data = {'A': [1, 2, 3, 4, 5],
        'B': ['chennai', 'chandigarh', 'delhi', 'coimbatore', 'kanpur']}
df = pd.DataFrame(data)

**1. Filtering Data:**

Filtering rows based on a condition.

In [5]:
filtered_df = df[df['A']>3]
print(filtered_df)

   A           B
3  4  coimbatore
4  5      kanpur

**2. Selecting Columns:**

Selecting specific columns from a DataFrame.

In [6]:
selected_columns = df[['A','B']]
print(selected_columns)

   A           B
0  1     chennai
1  2  chandigarh
2  3       delhi
3  4  coimbatore
4  5      kanpur

**3.Sorting Data:**

Sorting DataFrame by one or more columns.

In [7]:
sorted_df = df.sort_values(by='A')
print(sorted_df)

   A           B
0  1     chennai
1  2  chandigarh
2  3       delhi
3  4  coimbatore
4  5      kanpur

In [12]:
#descing order
sorted_df_desc = df.sort_values(by='A', ascending=False)
print(sorted_df_desc)

   A           B
4  5      kanpur
3  4  coimbatore
2  3       delhi
1  2  chandigarh
0  1     chennai

**4. Aggregating Data:**

Calculating summary statistics like mean, sum, count, etc.

In [13]:
mean_A = df['A'].mean()
print(mean_A)

3.0

In [14]:
value_counts_A = df['A'].value_counts()
print(value_counts_A)

1    1
2    1
3    1
4    1
5    1
Name: A, dtype: int64

**5. Handling Missing Data:**

Dealing with missing values in your DataFrame.

In [18]:
# Sample data
data_with_missing = {'A': [1, 2, None, 4, 5],
        'B': ['chennai', 'chandigarh', None, 'coimbatore', 'kanpur']}
df_missing = pd.DataFrame(data_with_missing )

df_no_missing = df_missing.dropna()
print(df_no_missing)

     A           B
0  1.0     chennai
1  2.0  chandigarh
3  4.0  coimbatore
4  5.0      kanpur

In [21]:
# Create two DataFrames
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [10, 20, 30]})
df2 = pd.DataFrame({'key': ['B', 'C', 'D'], 'value2': [40, 50, 60]})

# Merge based on 'key' column
merged_df = pd.merge(df1, df2, on='key', how='inner')
print(merged_df)

  key  value1  value2
0   B      20      40
1   C      30      50

**7. Grouping and Aggregating Data:**

Grouping data by one or more columns and applying aggregate functions.

In [22]:
# Group by 'B' and calculate the sum of 'A' for each group
grouped_df = df.groupby('B')['A'].sum().reset_index()
print(grouped_df)

            B  A
0  chandigarh  2
1     chennai  1
2  coimbatore  4
3       delhi  3
4      kanpur  5

**8. Pivot Tables:**

Creating pivot tables to summarize and reshape data.

In [23]:
# Create a pivot table to show the mean 'A' for each 'B' category
pivot_table = df.pivot_table(values='A', index='B', aggfunc='mean')
print(pivot_table)

            A
B
chandigarh  2
chennai     1
coimbatore  4
delhi       3
kanpur      5

**9. Combining Data:**

Concatenating or appending multiple DataFrames vertically or horizontally.

In [24]:
# Concatenate two DataFrames vertically
df_concatenated = pd.concat([df1, df2], axis=0)
print(df_concatenated)

# Append one DataFrame to another
df_appended = df1.append(df2, ignore_index=True)
print(df_appended)

  key  value1  value2
0   A    10.0     NaN
1   B    20.0     NaN
2   C    30.0     NaN
0   B     NaN    40.0
1   C     NaN    50.0
2   D     NaN    60.0
  key  value1  value2
0   A    10.0     NaN
1   B    20.0     NaN
2   C    30.0     NaN
3   B     NaN    40.0
4   C     NaN    50.0
5   D     NaN    60.0

<ipython-input-24-4a3f35d8737e>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_appended = df1.append(df2, ignore_index=True)

**Applying function to the data**

In [25]:
def square(x):
    return x ** 2

# Apply the custom function to 'A' column
df['A_squared'] = df['A'].apply(square)
print(df)

   A           B  A_squared
0  1     chennai          1
1  2  chandigarh          4
2  3       delhi          9
3  4  coimbatore         16
4  5      kanpur         25